{
  "trailingComma": "none",
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "trailingComma": "es5"
      }
    }
  ],
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 120
}
