:root {
  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 22px;
  --font-size-xl: 32px;

  --line-height-xs: 24px;
  --line-height-s: 28px;
  --line-height-m: 32px;
  --line-height-l: 40px;
  --line-height-xl: 56px;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --black: #000000;
  --white: #ffffff;
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;

  --color-primary: #abca9e;
  --color-primary-1-10: rgba(171, 202, 158, 0.1);
  --color-primary-1-20: rgba(171, 202, 158, 0.2);
  --color-primary-1-30: rgba(171, 202, 158, 0.3);
  --color-primary-1-50: rgba(171, 202, 158, 0.5);
  --color-primary-1-70: rgba(171, 202, 158, 0.7);
  --color-primary-1-90: rgba(171, 202, 158, 0.9);

  --color-background: var(--gray-50);
  --color-bg-callout: var(--gray-100);
  --color-bg-tooltip: var(--color-primary-1-20);
  --color-text-primary: var(--gray-900);
  --color-text-secondary: var(--gray-400);
  --color-border: var(--gray-200);
  --color-primary-1: var(--color-primary-1-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--gray-800);
    --color-bg-callout: var(--gray-700);
    --color-bg-tooltip: var(--color-primary-1-20);
    --color-text-primary: var(--gray-50);
    --color-text-secondary: var(--gray-400);
    --color-border: var(--gray-700);
    --color-primary-1: var(--color-primary-1-50);
  }
}
